/* css type selector */

body {
    background-color: black;
    color: #E6F4F1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    background-color: #8BB9D3;
    color:black;
    padding: 20px;
    border: none;
    border-radius:10px ;
    cursor: pointer;

}

/* CSS type selector: pseudo class selector */
button:hover{
    background-color: #CDA8C3;

}

h1{
    color:#BFA9E3;
    padding: 30px;
}

a{
    color: #FCFCD4;
    padding: 40px;
    cursor:cell;
}